<section class="bg-white antialiased p-2">
      <div class="w-full p-2">
        <div class="mb-4 items-center justify-between md:flex md:space-x-4">
          <div class="w-full md:max-w-md">
            <app-admin-search placeholder="Search by Order ID" (search)="onSearch($event)"></app-admin-search>
          </div>
           <div class="mt-4 items-center space-y-4 sm:flex sm:space-x-4 sm:space-y-0 md:mt-0">
            <div>
              <label for="order-type" class="sr-only mb-2 block text-sm font-medium text-gray-900 dark:text-white">Select order type</label>
              <select id="order-type" [(ngModel)]="orderParams.status" (change)="onFilterChange()" class="block w-full min-w-[8rem] rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500">
                <option value="">All orders</option>
                <option value="Pending">Pending</option>
                <option value="PaymentReceived">Payment Received</option>
                <option value="OrderConfirm">Order Confirm</option>
                <option value="Shipped">Shipped</option>
                <option value="Delivered">Delivered</option>
                <option value="ReceivedOrder">Received Order</option>
                <option value="Cancelled">Cancelled</option>
                <option value="PaymentFailed">Payment Failed</option>
                <option value="Refunded">Refunded</option>
              </select>
            </div>
            <mat-paginator [length]="totalItems"
                        [pageSize]="orderParams.pageSize"
                        [pageIndex]="orderParams.pageIndex - 1"
                        [pageSizeOptions]="[5, 10, 15, 25, 100]"
                        (page)="handlePageEvent($event)"
                        aria-label="Select page"
                        >
            </mat-paginator>
          </div>
        </div>
        <div class="p-2">
            @for (order of orders; track order) {
              <app-order-card 
                [order]="order"
                (statusUpdate)="updateOrderStatus($event)">
              </app-order-card>
            }
        </div>
    </div>
</section>