:host {
    display: block;
}

.bg-primary-100 {
    background-color: rgba(139, 92, 246, 0.1);
}

// Flowbite Carousel Overrides
[data-carousel-item] {
    img {
        object-fit: cover;
    }
}

.mat-mdc-flat-button.mat-primary {
    --mdc-filled-button-container-color: #7c3aed;
}

.mat-mdc-raised-button.mat-warn {
    --mdc-protected-button-container-color: #ef4444;
}
