<section class="bg-gray-50">
  <div class="mx-auto mt-12 flex flex-col items-center justify-center px-6 py-8 lg:py-1">
    <div class="app-panel w-full sm:max-w-md">
      <div class="space-y-6 p-6 sm:p-8">
        <h1 class="text-2xl font-bold leading-tight tracking-tight text-gray-900">
          Sign in to your account
        </h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-5">
          <app-text-input
            formControlName="email"
            label="Email"
            [type]="'email'"
            [IsRequired]="true"
            placeholder="yourname@company.com"
          ></app-text-input>

          <app-text-input
            formControlName="password"
            label="Password"
            [IsRequired]="true"
            placeholder="Enter your password"
          ></app-text-input>

          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex h-5 items-center">
                <input
                  id="remember"
                  aria-describedby="remember"
                  type="checkbox"
                  class="h-4 w-4 rounded border border-gray-300 bg-gray-50"
                  required=""
                />
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500">Remember me</label>
              </div>
            </div>

            <a href="#" class="app-link text-sm">Forgot password?</a>
          </div>

          @if (loginError) {
            <p class="text-sm text-red-500">{{ loginError }}</p>
          }

          <button [disabled]="loginForm.invalid" type="submit" class="app-btn-primary w-full">
            Sign in
          </button>

          <p class="text-sm font-light text-gray-500">
            Don't have an account yet?
            <a routerLink="/account/register" class="app-link">Register</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
