.carousel-item-active {
    display: block !important;
}

img {
    max-height: 100%;
    width: auto;
    margin: auto;
}

label {
    transition: all 0.2s ease-in-out;
}

label:hover {
    transform: translateY(-2px);
}
