<!-- Cart Dropdown -->
<div
  id="cartDropdown4"
  class="hidden z-50 max-w-sm space-y-4 overflow-hidden rounded-lg bg-white p-4 antialiased shadow-lg dark:bg-gray-700"
>
  <dl
    class="flex items-center justify-between gap-4 border-b border-gray-200 pb-4 dark:border-gray-700"
  >
    <dt class="font-semibold leading-none text-gray-900 dark:text-white">Your shopping cart</dt>

    <dd class="leading-none text-gray-500 dark:text-gray-400">4 items</dd>
  </dl>
  <div class="grid grid-cols-4 items-center justify-between gap-3">
    <div class="col-span-2 flex items-center gap-2">
      <a href="#" class="flex aspect-square h-9 w-9 shrink-0 items-center">
        <img
          class="h-auto max-h-full w-full dark:hidden"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front.svg"
          alt="imac image"
        />
        <img
          class="hidden h-auto max-h-full w-full dark:block"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/imac-front-dark.svg"
          alt="imac image"
        />
      </a>
      <div class="flex-1">
        <a
          href="#"
          class="truncate text-sm font-semibold leading-none text-gray-900 hover:underline dark:text-white"
          >Apple iMac 20"</a
        >
        <p class="mt-0.5 truncate text-sm font-normal text-gray-500 dark:text-gray-400">
          512GB, 32GB RAM
        </p>
      </div>
    </div>

    <div
      class="flex justify-center text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
    >
      x1
    </div>

    <div class="flex items-center justify-end gap-2">
      <p class="text-sm font-semibold leading-none text-gray-900 dark:text-white">$2,999</p>
      <button
        data-tooltip-target="tooltipRemoveItem16"
        type="button"
        class="text-red-600 hover:text-red-700 dark:text-red-500 dark:hover:text-red-600"
      >
        <span class="sr-only"> Remove </span>
        <svg
          class="h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
          />
        </svg>
      </button>
      <div
        id="tooltipRemoveItem16"
        role="tooltip"
        class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
      >
        Remove
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-4 items-center justify-between gap-3">
    <div class="col-span-2 flex items-center gap-2">
      <a href="#" class="flex aspect-square h-9 w-9 shrink-0 items-center">
        <img
          class="h-auto max-h-full w-full dark:hidden"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/iphone-light.svg"
          alt="imac image"
        />
        <img
          class="hidden h-auto max-h-full w-full dark:block"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/iphone-dark.svg"
          alt="imac image"
        />
      </a>
      <div class="flex-1">
        <a
          href="#"
          class="truncate text-sm font-semibold leading-none text-gray-900 hover:underline dark:text-white"
          >Apple iPhone 15</a
        >
        <p class="mt-0.5 truncate text-sm font-normal text-gray-500 dark:text-gray-400">
          Gold Edition, 256GB
        </p>
      </div>
    </div>

    <div
      class="flex justify-center text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
    >
      x1
    </div>

    <div class="flex items-center justify-end gap-2">
      <p class="text-sm font-semibold leading-none text-gray-900 dark:text-white">$599</p>
      <button
        data-tooltip-target="tooltipRemoveItem17"
        type="button"
        class="text-red-600 hover:text-red-700 dark:text-red-500 dark:hover:text-red-600"
      >
        <span class="sr-only"> Remove </span>
        <svg
          class="h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
          />
        </svg>
      </button>
      <div
        id="tooltipRemoveItem17"
        role="tooltip"
        class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
      >
        Remove
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-4 items-center justify-between gap-3">
    <div class="col-span-2 flex items-center gap-2">
      <a href="#" class="flex aspect-square h-9 w-9 shrink-0 items-center">
        <img
          class="h-auto max-h-full w-full dark:hidden"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ipad-light.svg"
          alt="imac image"
        />
        <img
          class="hidden h-auto max-h-full w-full dark:block"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/ipad-dark.svg"
          alt="imac image"
        />
      </a>
      <div class="flex-1">
        <a
          href="#"
          class="truncate text-sm font-semibold leading-none text-gray-900 hover:underline dark:text-white"
          >Apple iPad Air</a
        >
        <p class="mt-0.5 truncate text-sm font-normal text-gray-500 dark:text-gray-400">
          Silver, 64GB
        </p>
      </div>
    </div>

    <div
      class="flex justify-center text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
    >
      x9
    </div>

    <div class="flex items-center justify-end gap-2">
      <p class="text-sm font-semibold leading-none text-gray-900 dark:text-white">$38,599</p>
      <button
        data-tooltip-target="tooltipRemoveItem18"
        type="button"
        class="text-red-600 hover:text-red-700 dark:text-red-500 dark:hover:text-red-600"
      >
        <span class="sr-only"> Remove </span>
        <svg
          class="h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
          />
        </svg>
      </button>
      <div
        id="tooltipRemoveItem18"
        role="tooltip"
        class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
      >
        Remove
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-4 items-center justify-between gap-3">
    <div class="col-span-2 flex items-center gap-2">
      <a href="#" class="flex aspect-square h-9 w-9 shrink-0 items-center">
        <img
          class="h-auto max-h-full w-full dark:hidden"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/apple-watch-light.svg"
          alt="imac image"
        />
        <img
          class="hidden h-auto max-h-full w-full dark:block"
          src="https://flowbite.s3.amazonaws.com/blocks/e-commerce/apple-watch-dark.svg"
          alt="imac image"
        />
      </a>
      <div class="flex-1">
        <a
          href="#"
          class="truncate text-sm font-semibold leading-none text-gray-900 hover:underline dark:text-white"
          >Apple Watch SE</a
        >
        <p class="mt-0.5 truncate text-sm font-normal text-gray-500 dark:text-gray-400">
          Purple, GPS
        </p>
      </div>
    </div>

    <div
      class="flex justify-center text-sm font-normal leading-none text-gray-500 dark:text-gray-400"
    >
      x1
    </div>

    <div class="flex items-center justify-end gap-2">
      <p class="text-sm font-semibold leading-none text-gray-900 dark:text-white">$199</p>
      <button
        data-tooltip-target="tooltipRemoveItem19"
        type="button"
        class="text-red-600 hover:text-red-700 dark:text-red-500 dark:hover:text-red-600"
      >
        <span class="sr-only"> Remove </span>
        <svg
          class="h-4 w-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
          />
        </svg>
      </button>
      <div
        id="tooltipRemoveItem19"
        role="tooltip"
        class="tooltip invisible absolute z-10 inline-block rounded-lg bg-gray-900 px-3 py-2 text-sm font-medium text-white opacity-0 shadow-sm transition-opacity duration-300 dark:bg-gray-700"
      >
        Remove
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </div>
  </div>

  <dl class="flex items-center justify-between border-t border-gray-200 pt-4 dark:border-gray-700">
    <dt class="font-semibold leading-none text-gray-900 dark:text-white">Total</dt>

    <dd class="font-semibold leading-none text-gray-900 dark:text-white">$43,796</dd>
  </dl>

  <a
    href="#"
    title=""
    class="mb-2 me-2 inline-flex w-full items-center justify-center rounded-lg bg-primary-700 px-5 py-2.5 text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
    role="button"
  >
    See your cart
  </a>
</div>
