<div class="mb-2">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
    {{ label }}
    @if (IsRequired) {
      <span class="text-red-500">*</span>
    }
  </label>

  <input
    [type]="type"
    [formControl]="control"
    (change)="clearErrors()"
    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    [placeholder]="placeholder"
  />

  @if (control.touched) {
    @if (control.errors?.['required']) {
      <div class="text-red-500 text-sm mt-1">
        {{ label }} is required.
      </div>
    }

    @if (control.errors?.['email']) {
      <div class="text-red-500 text-sm mt-1">
        Invalid email address.
      </div>
    }
  }

  @if (validatorErrors && validatorErrors.length > 0) {
    @for (error of validatorErrors; track $index) {
      <div class="text-red-500 text-sm mt-1">
        {{ error }}
      </div>
    }
  }
</div>
