<div class="mb-2">
  <label class="mb-2 block text-sm font-semibold text-gray-800">
    {{ label }}
    @if (IsRequired) {
      <span class="text-red-500">*</span>
    }
  </label>

  <input
    [type]="type"
    [formControl]="control"
    (change)="clearErrors()"
    class="app-input"
    [placeholder]="placeholder"
  />

  @if (control.touched) {
    @if (control.errors?.['required']) {
      <div class="text-red-500 text-sm mt-1">
        {{ label }} is required.
      </div>
    }

    @if (control.errors?.['email']) {
      <div class="text-red-500 text-sm mt-1">
        Invalid email address.
      </div>
    }
  }

  @if (validatorErrors && validatorErrors.length > 0) {
    @for (error of validatorErrors; track $index) {
      <div class="text-red-500 text-sm mt-1">
        {{ error }}
      </div>
    }
  }
</div>
