<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExCSS" version="4.3.1" targetFramework="net48" />
  <package id="KimTools.WinForms" version="26.4.1.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.15" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="SmartFormat" version="3.6.1" targetFramework="net48" />
  <package id="SmartFormat.Extensions.Newtonsoft.Json" version="3.6.1" targetFramework="net48" />
  <package id="SmartFormat.Extensions.System.Text.Json" version="3.6.1" targetFramework="net48" />
  <package id="SmartFormat.Extensions.Time" version="3.6.1" targetFramework="net48" />
  <package id="SmartFormat.Extensions.Xml" version="3.6.1" targetFramework="net48" />
  <package id="SmartFormat.NET" version="3.6.1" targetFramework="net48" />
  <package id="Svg" version="3.4.7" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.15" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.15" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.15" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.2" targetFramework="net48" />
  <package id="ZString" version="2.6.0" targetFramework="net48" />
</packages>